appdirs==1.4.4
arrow==1.3.0
attrs==25.1.0
babel==2.17.0
bibtexparser==2.0.0b8
bs4==0.0.2
Cartopy==0.24.1
cattrs==24.1.3
certifi==2025.1.31
chardet==5.2.0
cldfbench==1.14.2
cldfcatalog==1.6.0
-e git+https://github.com/cldf/cldfviz@4dbeafbcab441c43799fab44e55f62b27a017dc0#egg=cldfviz
cldfzenodo==2.1.2
clldutils==3.24.2
colorama==0.4.6
colorlog==6.9.0
commonnexus==1.9.2
csvw==3.5.1
cycler==0.12.1
geomet==1.1.0
gitdb==4.0.12
greenlet==3.1.1
idna==3.10
igraph==0.11.8
iniconfig==2.0.0
isodate==0.7.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
kiwisolver==1.4.8
lingpy==2.6.13
lxml==5.3.1
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.10.1
multipledispatch==1.0.0
nameparser==1.1.3
networkx==3.4.2
newick==1.9.0
numpy==2.2.3
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
platformdirs==4.3.6
pluggy==1.5.0
pybtex==0.24.0
-e git+https://github.com/cldf/pycldf@28eac40afc80fd76920eb9c22d12313c1279fdc9#egg=pycldf
pyclts==3.2.0
pyconcepticon==3.1.0
pycountry==24.6.1
-e git+https://github.com/lexibank/pyetymdict@3f28d74b45a5c0ab2938e31981873914a4e2a115#egg=pyetymdict
pygbif==0.6.5
pyglottolog==3.14.0
pyigt==2.2.0
pylatexenc==2.10
-e git+https://github.com/lexibank/pylexibank@592c29355369f1e032d22704b6cd9ff59824c83b#egg=pylexibank
pyparsing==3.2.1
pyproj==3.7.1
pytest==8.3.4
python-dateutil==2.9.0.post0
python-frontmatter==1.1.0
pytz==2025.1
rdflib==7.1.3
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.0
requests==2.32.3
rfc3986==1.5.0
scipy==1.15.2
segments==2.3.0
shapely==2.1.1
-e git+https://github.com/cldf/simplepybtex@09a7ecfd47001669617e6b34900511c45c76d5e4#egg=simplepybtex
six==1.17.0
smmap==5.0.2
soupsieve==2.6
SQLAlchemy==1.4.54
tabulate==0.9.0
termcolor==2.5.0
texttable==1.7.0
threadpoolctl==3.5.0
toyplot==2.0.0
toytree==2.0.5
tqdm==4.67.1
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.3.0
xlrd==2.0.1
zenodoclient==0.5.1